In [1]:
import boto3
import botocore
import pandas as pd
from IPython.display import display, Markdown

s3 = boto3.client('s3')
s3_resource = boto3.resource('s3')

In [2]:
# Create Bucket
def create_bucket(bucket):
    import logging

    try:
        s3.create_bucket(Bucket=bucket)
    except botocore.exceptions.ClientError as e:
        logging.error(e)
        return 'Bucket ' + bucket + ' could not be created.'
    return 'Created or already exists ' + bucket + ' bucket.'

create_bucket('nyc-tlc-cs653-5132')

'Created or already exists nyc-tlc-cs653-5132 bucket.'

In [ ]:
# List Buckets
def list_buckets(match=''):
    response = s3.list_buckets()
    if match:
        print(f'Existing buckets containing "{match}" string:')
    else:
        print('All existing buckets:')
    for bucket in response['Buckets']:
        if match:
            if match in bucket["Name"]:
                print(f'  {bucket["Name"]}')

list_buckets(match='nyc')

In [4]:
# List Bucket Contents
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

list_bucket_contents(bucket='nyc-tlc', match='2017', size_mb=250)

csv_backup/green_tripdata_2017-01.csv ( 91MB)
csv_backup/green_tripdata_2017-02.csv ( 87MB)
csv_backup/green_tripdata_2017-03.csv ( 99MB)
csv_backup/green_tripdata_2017-04.csv ( 92MB)
csv_backup/green_tripdata_2017-05.csv ( 91MB)
csv_backup/green_tripdata_2017-06.csv ( 83MB)
csv_backup/green_tripdata_2017-07.csv ( 78MB)
csv_backup/green_tripdata_2017-08.csv ( 74MB)
csv_backup/green_tripdata_2017-09.csv ( 75MB)
csv_backup/green_tripdata_2017-10.csv ( 79MB)
csv_backup/green_tripdata_2017-11.csv ( 75MB)
csv_backup/green_tripdata_2017-12.csv ( 77MB)
trip data/fhv_tripdata_2017-01.parquet ( 55MB)
trip data/fhv_tripdata_2017-02.parquet ( 54MB)
trip data/fhv_tripdata_2017-03.parquet ( 64MB)
trip data/fhv_tripdata_2017-04.parquet ( 60MB)
trip data/fhv_tripdata_2017-05.parquet ( 64MB)
trip data/fhv_tripdata_2017-06.parquet (134MB)
trip data/fhv_tripdata_2017-07.parquet (137MB)
trip data/fhv_tripdata_2017-08.parquet (139MB)
trip data/fhv_tripdata_2017-09.parquet (144MB)
trip data/fhv_tripdata_2017-10.parquet (155MB)
trip data/fhv_tripdata_2017-11.parquet (156MB)
trip data/fhv_tripdata_2017-12.parquet (173MB)
trip data/green_tripdata_2017-01.parquet ( 16MB)
trip data/green_tripdata_2017-02.parquet ( 15MB)
trip data/green_tripdata_2017-03.parquet ( 17MB)
trip data/green_tripdata_2017-04.parquet ( 16MB)
trip data/green_tripdata_2017-05.parquet ( 16MB)
trip data/green_tripdata_2017-06.parquet ( 15MB)
trip data/green_tripdata_2017-07.parquet ( 14MB)
trip data/green_tripdata_2017-08.parquet ( 13MB)
trip data/green_tripdata_2017-09.parquet ( 13MB)
trip data/green_tripdata_2017-10.parquet ( 14MB)
trip data/green_tripdata_2017-11.parquet ( 13MB)
trip data/green_tripdata_2017-12.parquet ( 14MB)
trip data/yellow_tripdata_2017-01.parquet (129MB)
trip data/yellow_tripdata_2017-02.parquet (122MB)
trip data/yellow_tripdata_2017-03.parquet (138MB)
trip data/yellow_tripdata_2017-04.parquet (135MB)
trip data/yellow_tripdata_2017-05.parquet (136MB)
trip data/yellow_tripdata_2017-06.parquet (129MB)
trip data/yellow_tripdata_2017-07.parquet (115MB)
trip data/yellow_tripdata_2017-08.parquet (113MB)
trip data/yellow_tripdata_2017-09.parquet (121MB)
trip data/yellow_tripdata_2017-10.parquet (130MB)
trip data/yellow_tripdata_2017-11.parquet (125MB)
trip data/yellow_tripdata_2017-12.parquet (128MB)
Matched file size is 3.9GB with 48 files
Bucket nyc-tlc total size is 377.3GB with 823 files

In [3]:
pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: pyarrow in /home/ec2-user/anaconda3/envs/pytorch_p39/lib/python3.9/site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/ec2-user/anaconda3/envs/pytorch_p39/lib/python3.9/site-packages (from pyarrow) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Preview Dataset
def preview_dataset(bucket, key):
    data_source = {
            'Bucket': bucket,
            'Key': key
        }
    # Generate the URL to get Key from Bucket
    url = s3.generate_presigned_url(
        ClientMethod = 'get_object',
        Params = data_source
    )

    # data = pd.read_csv(url, nrows=rows)
    data = pd.read_parquet(url, engine='pyarrow')
    return data

df = preview_dataset(bucket='nyc-tlc', key=f'trip data/yellow_tripdata_2017-01.parquet')
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2017-01-01 00:32:05,2017-01-01 00:37:48,1,1.2,1,N,140,236,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8,None,None
1,1,2017-01-01 00:43:25,2017-01-01 00:47:42,2,0.7,1,N,237,140,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,None,None
2,1,2017-01-01 00:49:10,2017-01-01 00:53:53,2,0.8,1,N,140,237,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,None,None
3,1,2017-01-01 00:36:42,2017-01-01 00:41:09,1,1.1,1,N,41,42,2,6.0,0.5,0.5,0.0,0.0,0.3,7.3,None,None
4,1,2017-01-01 00:07:41,2017-01-01 00:18:16,1,3.0,1,N,48,263,2,11.0,0.5,0.5,0.0,0.0,0.3,12.3,None,None

In [7]:
df.shape

(9710820, 19)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9710820 entries, 0 to 9710819
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   object
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(8), int64(6), object(3)
memory usage: 1.4+ GB

In [9]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06
mean,1.547111e+00,1.629222e+00,2.813879e+00,1.039580e+00,1.641076e+02,1.617635e+02,1.337539e+00,1.237414e+01,3.234837e-01,4.975229e-01,1.751259e+00,2.764088e-01,2.996798e-01,1.552662e+01
std,4.977756e-01,1.272268e+00,3.611637e+00,5.058933e-01,6.665001e+01,7.067210e+01,4.913687e-01,2.652220e+02,4.425521e-01,4.881261e-02,2.571219e+00,1.638808e+00,1.342100e-02,2.653384e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.500000e+02,-5.520000e+01,-5.000000e-01,-4.100000e+01,-1.500000e+01,-3.000000e-01,-3.503000e+02
25%,1.000000e+00,1.000000e+00,9.500000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.300000e+00,0.000000e+00,3.000000e-01,1.130000e+01
75%,2.000000e+00,2.000000e+00,2.900000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.260000e+00,0.000000e+00,3.000000e-01,1.673000e+01
max,2.000000e+00,9.000000e+00,2.647100e+02,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,6.259008e+05,5.554000e+01,5.650000e+01,9.999900e+02,9.110800e+02,3.000000e-01,6.259016e+05

In [10]:
# Copy Among Buckets
def key_exists(bucket, key):
    try:
        s3_resource.Object(bucket, key).load()
    except botocore.exceptions.ClientError as e:
        if e.response['Error']['Code'] == "404":
            # The key does not exist.
            return(False)
        else:
            # Something else has gone wrong.
            raise
    else:
        # The key does exist.
        return(True)

def copy_among_buckets(from_bucket, from_key, to_bucket, to_key):
    if not key_exists(to_bucket, to_key):
        s3_resource.meta.client.copy({'Bucket': from_bucket, 'Key': from_key}, 
                                        to_bucket, to_key)        
        print(f'File {to_key} saved to S3 bucket {to_bucket}')
    else:
        print(f'File {to_key} already exists in S3 bucket {to_bucket}')

In [11]:
for i in range(1, 6):
    copy_among_buckets(from_bucket='nyc-tlc', from_key=f'trip data/yellow_tripdata_2017-0{i}.parquet',
                      to_bucket='nyc-tlc-cs653-5132', to_key=f'yellow_tripdata-2017-0{i}.parquet')

File yellow_tripdata-2017-01.parquet saved to S3 bucket nyc-tlc-cs653-5132
File yellow_tripdata-2017-02.parquet saved to S3 bucket nyc-tlc-cs653-5132
File yellow_tripdata-2017-03.parquet saved to S3 bucket nyc-tlc-cs653-5132
File yellow_tripdata-2017-04.parquet saved to S3 bucket nyc-tlc-cs653-5132
File yellow_tripdata-2017-05.parquet saved to S3 bucket nyc-tlc-cs653-5132

In [13]:
import boto3

s3 = boto3.client('s3')

# Answer a
bucket = 'nyc-tlc-cs653-5132'
key = 'yellow_tripdata-2017-01.parquet'
expression_type = 'SQL'
input_serialization = {'Parquet': {}}
output_serialization = {'CSV': {}}

def creditCard():
    return "Credit card"
def cash():
    return "Cash"
def noCharge():
    return "No charge"
def dispute():
    return "Dispute"
def unknow():
    return "Unknow"
def voidedTrip():
    return "Voided trip"
def default():
    return "Incorrect payment type"

switcher = {
    1: creditCard,
    2: cash,
    3: noCharge,
    4: dispute,
    5: unknow,
    6: voidedTrip
    }

def switch(payment_type):
    return switcher.get(payment_type, default)()

sum = 0
for i in range(1, 6):
    # Execute S3 Select query
    response = s3.select_object_content(
        Bucket=bucket,
        Key=key,
        Expression=f"select count(payment_type) from s3object s where payment_type = {i}",
        ExpressionType=expression_type,
        InputSerialization=input_serialization,
        OutputSerialization=output_serialization,
    )
    
    # Iterate through the response and print each line
    for event in response['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            sum = sum + int(records)
            print(f"ประเภทการจ่ายเงิน {switch(i)} มีจำนวน yellow taxi rides เท่ากับ {records}")
print(f"มีจำนวน yellow taxi rides ทั้งหมดเท่ากับ {sum}")

ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6506189

ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 3144926

ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 46257

ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 13447

ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 1

มีจำนวน yellow taxi rides ทั้งหมดเท่ากับ 9710820

In [8]:
import numpy as np
PUL_ID = df['PULocationID'].unique()
np.sort(PUL_ID)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98, 100, 101, 102, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
       149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161,
       162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174,
       175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187,
       188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201,
       202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214,
       215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227,
       228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240,
       241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253,
       254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265])

In [ ]:
import boto3

s3 = boto3.client('s3')

# Answer a
bucket = 'nyc-tlc-cs653-5132'
key = 'yellow_tripdata-2017-01.parquet'
expression_type = 'SQL'
input_serialization = {'Parquet': {}}
output_serialization = {'CSV': {}}

# คำนวนค่าโดยสารรวมของ rides ในแต่ละจุด
def sum_total_amount(pulid):
    response = s3.select_object_content(
        Bucket=bucket,
        Key=key,
        Expression=f"select sum(total_amount)  from s3object s where PULocationID = {i}",
        ExpressionType=expression_type,
        InputSerialization=input_serialization,
        OutputSerialization=output_serialization,
    )
    
    # Iterate through the response and print each line
    for event in response['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            
            try:
                isinstance(float(records), float)
                return float(records)
            except:
                return None

# จำนวนผู้โดยสารเฉลี่ยต่อ rides ในแต่ละจุด
def avg_passenger_count(pulid):
    response = s3.select_object_content(
        Bucket=bucket,
        Key=key,
        Expression=f"select avg(passenger_count) from s3object s where PULocationID = {i}",
        ExpressionType=expression_type,
        InputSerialization=input_serialization,
        OutputSerialization=output_serialization,
    )
    
    # Iterate through the response and print each line
    for event in response['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            
            try:
                isinstance(float(records), float)
                return float(records)
            except:
                return None            

# Define 3 array, keep to show in DataFrame
pul_id_arr=[]
total_fare_arr=[]
avg_pass_arr=[]

for i in range(1, 266):
    # Execute S3 Select query
    response = s3.select_object_content(
        Bucket=bucket,
        Key=key,
        Expression=f"select count(PULocationID) from s3object s where PULocationID = {i}",
        ExpressionType=expression_type,
        InputSerialization=input_serialization,
        OutputSerialization=output_serialization,
    )
    
    # Iterate through the response and print each line
    for event in response['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            
            pul_id_arr.append(i)
            print(f"จุดรับผู้โดยสารที่ {i} มีจำนวน Yellow taxi rides เท่ากับ {int(records)}")
            
            total_fare = sum_total_amount(i)
            if isinstance(total_fare, float):
                total_fare = float("{:.2f}".format(total_fare))
                total_fare_arr.append(total_fare)
                print(f"ค่าโดยสารรวม {total_fare} $")
            else:
                total_fare = 0.0
                total_fare_arr.append(total_fare)
                print(f"ค่าโดยสารรวม - $")
                
            avg_pass = avg_passenger_count(i)
            if isinstance(avg_pass, float):
                avg_pass = float("{:.2f}".format(avg_pass))
                avg_pass_arr.append(avg_pass)
                print(f"จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ {avg_pass} คน")
            else:
                avg_pass = 0.0
                avg_pass_arr.append(avg_pass)
                print(f"จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ  - คน")
            print(f"-----------------------------------------")

จุดรับผู้โดยสารที่ 1 มีจำนวน Yellow taxi rides เท่ากับ 696
ค่าโดยสารรวม 59188.54 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.4 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 2 มีจำนวน Yellow taxi rides เท่ากับ 7
ค่าโดยสารรวม 330.26 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 3 มีจำนวน Yellow taxi rides เท่ากับ 32
ค่าโดยสารรวม 655.01 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.66 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 4 มีจำนวน Yellow taxi rides เท่ากับ 27602
ค่าโดยสารรวม 392919.74 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.65 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 5 มีจำนวน Yellow taxi rides เท่ากับ 2
ค่าโดยสารรวม 69.6 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.5 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 6 มีจำนวน Yellow taxi rides เท่ากับ 38
ค่าโดยสารรวม 1372.88 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.13 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 7 มีจำนวน Yellow taxi rides เท่ากับ 17462
ค่าโดยสารรวม 240538.71 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 8 มีจำนวน Yellow taxi rides เท่ากับ 125
ค่าโดยสารรวม 4545.15 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.66 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 9 มีจำนวน Yellow taxi rides เท่ากับ 25
ค่าโดยสารรวม 855.06 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.24 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 10 มีจำนวน Yellow taxi rides เท่ากับ 1458
ค่าโดยสารรวม 94827.29 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.62 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 11 มีจำนวน Yellow taxi rides เท่ากับ 50
ค่าโดยสารรวม 2247.23 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.4 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 12 มีจำนวน Yellow taxi rides เท่ากับ 3062
ค่าโดยสารรวม 58496.1 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.76 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 13 มีจำนวน Yellow taxi rides เท่ากับ 87028
ค่าโดยสารรวม 1629016.97 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.64 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 14 มีจำนวน Yellow taxi rides เท่ากับ 359
ค่าโดยสารรวม 8466.35 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 15 มีจำนวน Yellow taxi rides เท่ากับ 21
ค่าโดยสารรวม 647.84 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.19 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 16 มีจำนวน Yellow taxi rides เท่ากับ 70
ค่าโดยสารรวม 1848.63 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.4 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 17 มีจำนวน Yellow taxi rides เท่ากับ 2874
ค่าโดยสารรวม 39764.74 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.58 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 18 มีจำนวน Yellow taxi rides เท่ากับ 131
ค่าโดยสารรวม 2317.04 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.72 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 19 มีจำนวน Yellow taxi rides เท่ากับ 51
ค่าโดยสารรวม 821.99 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.39 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 20 มีจำนวน Yellow taxi rides เท่ากับ 66
ค่าโดยสารรวม 1229.06 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.52 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 21 มีจำนวน Yellow taxi rides เท่ากับ 73
ค่าโดยสารรวม 2229.25 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.66 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 22 มีจำนวน Yellow taxi rides เท่ากับ 90
ค่าโดยสารรวม 3408.9 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.49 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 23 มีจำนวน Yellow taxi rides เท่ากับ 10
ค่าโดยสารรวม 388.98 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.1 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 24 มีจำนวน Yellow taxi rides เท่ากับ 28072
ค่าโดยสารรวม 377194.0 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.64 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 25 มีจำนวน Yellow taxi rides เท่ากับ 9719
ค่าโดยสารรวม 150191.88 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.52 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 26 มีจำนวน Yellow taxi rides เท่ากับ 195
ค่าโดยสารรวม 2975.47 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.37 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 27 มีจำนวน Yellow taxi rides เท่ากับ 0
ค่าโดยสารรวม - $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ  - คน
-----------------------------------------
จุดรับผู้โดยสารที่ 28 มีจำนวน Yellow taxi rides เท่ากับ 647
ค่าโดยสารรวม 30078.54 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 29 มีจำนวน Yellow taxi rides เท่ากับ 243
ค่าโดยสารรวม 5819.22 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 2.29 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 30 มีจำนวน Yellow taxi rides เท่ากับ 2
ค่าโดยสารรวม 323.95 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.0 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 31 มีจำนวน Yellow taxi rides เท่ากับ 22
ค่าโดยสารรวม 678.43 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.5 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 32 มีจำนวน Yellow taxi rides เท่ากับ 25
ค่าโดยสารรวม 449.03 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.92 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 33 มีจำนวน Yellow taxi rides เท่ากับ 10141
ค่าโดยสารรวม 183270.54 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 34 มีจำนวน Yellow taxi rides เท่ากับ 288
ค่าโดยสารรวม 4533.37 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.59 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 35 มีจำนวน Yellow taxi rides เท่ากับ 153
ค่าโดยสารรวม 3454.16 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.61 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 36 มีจำนวน Yellow taxi rides เท่ากับ 1772
ค่าโดยสารรวม 29528.26 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.69 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 37 มีจำนวน Yellow taxi rides เท่ากับ 3141
ค่าโดยสารรวม 47369.99 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.7 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 38 มีจำนวน Yellow taxi rides เท่ากับ 18
ค่าโดยสารรวม 569.6 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.72 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 39 มีจำนวน Yellow taxi rides เท่ากับ 180
ค่าโดยสารรวม 4339.31 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.46 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 40 มีจำนวน Yellow taxi rides เท่ากับ 5847
ค่าโดยสารรวม 99095.5 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 41 มีจำนวน Yellow taxi rides เท่ากับ 32519
ค่าโดยสารรวม 408641.53 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 42 มีจำนวน Yellow taxi rides เท่ากับ 14884
ค่าโดยสารรวม 188973.5 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.6 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 43 มีจำนวน Yellow taxi rides เท่ากับ 118941
ค่าโดยสารรวม 1531658.2 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.72 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 44 มีจำนวน Yellow taxi rides เท่ากับ 0
ค่าโดยสารรวม - $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ  - คน
-----------------------------------------
จุดรับผู้โดยสารที่ 45 มีจำนวน Yellow taxi rides เท่ากับ 22017
ค่าโดยสารรวม 350984.35 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.64 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 46 มีจำนวน Yellow taxi rides เท่ากับ 3
ค่าโดยสารรวม 101.4 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.0 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 47 มีจำนวน Yellow taxi rides เท่ากับ 120
ค่าโดยสารรวม 1813.68 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.46 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 48 มีจำนวน Yellow taxi rides เท่ากับ 297434
ค่าโดยสารรวม 4007370.97 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.64 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 49 มีจำนวน Yellow taxi rides เท่ากับ 3673
ค่าโดยสารรวม 52445.33 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.58 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 50 มีจำนวน Yellow taxi rides เท่ากับ 86815
ค่าโดยสารรวม 1200949.84 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.65 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 51 มีจำนวน Yellow taxi rides เท่ากับ 61
ค่าโดยสารรวม 1408.83 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.26 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 52 มีจำนวน Yellow taxi rides เท่ากับ 5901
ค่าโดยสารรวม 105274.31 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.65 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 53 มีจำนวน Yellow taxi rides เท่ากับ 69
ค่าโดยสารรวม 1454.46 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.75 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 54 มีจำนวน Yellow taxi rides เท่ากับ 517
ค่าโดยสารรวม 9312.67 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.67 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 55 มีจำนวน Yellow taxi rides เท่ากับ 108
ค่าโดยสารรวม 3042.6 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.83 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 56 มีจำนวน Yellow taxi rides เท่ากับ 470
ค่าโดยสารรวม 12319.94 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.53 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 57 มีจำนวน Yellow taxi rides เท่ากับ 59
ค่าโดยสารรวม 1034.98 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.31 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 58 มีจำนวน Yellow taxi rides เท่ากับ 3
ค่าโดยสารรวม 101.89 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.0 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 59 มีจำนวน Yellow taxi rides เท่ากับ 3
ค่าโดยสารรวม 49.35 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.0 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 60 มีจำนวน Yellow taxi rides เท่ากับ 91
ค่าโดยสารรวม 1521.1 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.47 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 61 มีจำนวน Yellow taxi rides เท่ากับ 2325
ค่าโดยสารรวม 36238.78 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.56 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 62 มีจำนวน Yellow taxi rides เท่ากับ 453
ค่าโดยสารรวม 7547.2 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 63 มีจำนวน Yellow taxi rides เท่ากับ 362
ค่าโดยสารรวม 7048.43 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.15 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 64 มีจำนวน Yellow taxi rides เท่ากับ 29
ค่าโดยสารรวม 1016.4 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 0.97 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 65 มีจำนวน Yellow taxi rides เท่ากับ 12237
ค่าโดยสารรวม 212241.63 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.59 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 66 มีจำนวน Yellow taxi rides เท่ากับ 3458
ค่าโดยสารรวม 62292.92 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.68 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 67 มีจำนวน Yellow taxi rides เท่ากับ 59
ค่าโดยสารรวม 1146.47 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.37 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 68 มีจำนวน Yellow taxi rides เท่ากับ 224568
ค่าโดยสารรวม 3095397.1 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 69 มีจำนวน Yellow taxi rides เท่ากับ 455
ค่าโดยสารรวม 6405.12 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 70 มีจำนวน Yellow taxi rides เท่ากับ 1384
ค่าโดยสารรวม 49295.77 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.54 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 71 มีจำนวน Yellow taxi rides เท่ากับ 113
ค่าโดยสารรวม 1860.49 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.52 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 72 มีจำนวน Yellow taxi rides เท่ากับ 128
ค่าโดยสารรวม 2220.68 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.54 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 73 มีจำนวน Yellow taxi rides เท่ากับ 35
ค่าโดยสารรวม 551.04 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.63 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 74 มีจำนวน Yellow taxi rides เท่ากับ 32166
ค่าโดยสารรวม 401776.14 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.61 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 75 มีจำนวน Yellow taxi rides เท่ากับ 62592
ค่าโดยสารรวม 790270.02 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.59 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 76 มีจำนวน Yellow taxi rides เท่ากับ 250
ค่าโดยสารรวม 7197.48 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.38 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 77 มีจำนวน Yellow taxi rides เท่ากับ 93
ค่าโดยสารรวม 2069.85 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.52 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 78 มีจำนวน Yellow taxi rides เท่ากับ 125
ค่าโดยสารรวม 2118.24 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.68 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 79 มีจำนวน Yellow taxi rides เท่ากับ 303600
ค่าโดยสารรวม 4226206.24 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.66 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 80 มีจำนวน Yellow taxi rides เท่ากับ 5727
ค่าโดยสารรวม 88113.33 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.61 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 81 มีจำนวน Yellow taxi rides เท่ากับ 21
ค่าโดยสารรวม 503.78 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.38 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 82 มีจำนวน Yellow taxi rides เท่ากับ 2979
ค่าโดยสารรวม 50901.99 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.64 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 83 มีจำนวน Yellow taxi rides เท่ากับ 1321
ค่าโดยสารรวม 20796.0 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.68 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 84 มีจำนวน Yellow taxi rides เท่ากับ 3
ค่าโดยสารรวม 216.4 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.0 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 85 มีจำนวน Yellow taxi rides เท่ากับ 268
ค่าโดยสารรวม 4760.39 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.43 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 86 มีจำนวน Yellow taxi rides เท่ากับ 15
ค่าโดยสารรวม 374.69 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.6 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 87 มีจำนวน Yellow taxi rides เท่ากับ 70775
ค่าโดยสารรวม 1414263.97 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.62 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 88 มีจำนวน Yellow taxi rides เท่ากับ 36802
ค่าโดยสารรวม 767260.71 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.62 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 89 มีจำนวน Yellow taxi rides เท่ากับ 920
ค่าโดยสารรวม 16478.41 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 90 มีจำนวน Yellow taxi rides เท่ากับ 184626
ค่าโดยสารรวม 2353495.9 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.61 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 91 มีจำนวน Yellow taxi rides เท่ากับ 148
ค่าโดยสารรวม 3833.45 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.45 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 92 มีจำนวน Yellow taxi rides เท่ากับ 458
ค่าโดยสารรวม 9174.19 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.52 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 93 มีจำนวน Yellow taxi rides เท่ากับ 1117
ค่าโดยสารรวม 58573.21 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.61 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 94 มีจำนวน Yellow taxi rides เท่ากับ 79
ค่าโดยสารรวม 1601.88 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.72 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 95 มีจำนวน Yellow taxi rides เท่ากับ 1527
ค่าโดยสารรวม 30381.49 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.57 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 96 มีจำนวน Yellow taxi rides เท่ากับ 25
ค่าโดยสารรวม 714.73 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 2.28 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 97 มีจำนวน Yellow taxi rides เท่ากับ 8622
ค่าโดยสารรวม 130172.89 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.6 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 98 มีจำนวน Yellow taxi rides เท่ากับ 51
ค่าโดยสารรวม 1077.54 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.69 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 99 มีจำนวน Yellow taxi rides เท่ากับ 0
ค่าโดยสารรวม - $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ  - คน
-----------------------------------------
จุดรับผู้โดยสารที่ 100 มีจำนวน Yellow taxi rides เท่ากับ 192103
ค่าโดยสารรวม 2596307.08 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.6 คน
-----------------------------------------
จุดรับผู้โดยสารที่ 101 มีจำนวน Yellow taxi rides เท่ากับ 32
ค่าโดยสารรวม 970.29 $
จำนวนผู้โดยสารเฉลี่ยต่อ rides เท่ากับ 1.41 คน
-----------------------------------------

In [ ]:
label_data = {'จุดรับผู้โดยสารที่': pul_id_arr, 
              'ค่าโดยสารรวม': total_fare_arr, 
              'จำนวนผู้โดยสารเฉลี่ยต่อรอบ': avg_pass_arr}
dfm = pd.DataFrame(label_data)
dfm

In [23]:
import boto3

s3 = boto3.client('s3')

# Define parameter
bucket = 'nyc-tlc-cs653-5132'
expression_type = 'SQL'
input_serialization = {'Parquet': {}}
output_serialization = {'CSV': {}}

# Define 6 array of payment type, keep to show in DataFrame
cc_arr = []
c_arr = []
nc_arr = []
dp_arr = []
uk_arr = []
vt_arr = []
summary = []

def creditCard():
    return "Credit card"
def cash():
    return "Cash"
def noCharge():
    return "No charge"
def dispute():
    return "Dispute"
def unknow():
    return "Unknow"
def voidedTrip():
    return "Voided trip"
def default():
    print("Incorrect payment type")

switcher = {
    1: creditCard,
    2: cash,
    3: noCharge,
    4: dispute,
    5: unknow,
    6: voidedTrip
    }

def switch(payment_type):
    return switcher.get(payment_type, default)()

def sum_rides_by_month(month):
    sum = 0
    for i in range(1, 6):
        # Execute S3 Select query for answer a
        response = s3.select_object_content(
            Bucket=bucket,
            Key=f'yellow_tripdata-2017-0{month}.parquet',
            Expression=f"select count(payment_type) from s3object s where payment_type = {i}",
            ExpressionType=expression_type,
            InputSerialization=input_serialization,
            OutputSerialization=output_serialization,
        )
    
        # Iterate through the response and print each line
        for event in response['Payload']:
            if 'Records' in event:
                records = event['Records']['Payload'].decode('utf-8')

                try:
                    isinstance(int(records), int)
                    records = int(records)
                except:
                    return None 

                sum = sum + records
                if i==1:
                    cc_arr.append(records)
                elif i==2:
                    c_arr.append(records)
                elif i==3:
                    nc_arr.append(records)
                elif i==4:
                    dp_arr.append(records)
                elif i==5:
                    uk_arr.append(records)
                elif i==6:
                    vt_arr.append(records)
                    
                print(f"ในเดือน {month} ที่ประเภทการจ่ายเงิน {switch(i)} มีจำนวน yellow taxi rides เท่ากับ {records}")

    summary.append(sum)
    print(f"เดือน {month} มีจำนวน yellow taxi rides รวมทั้งสิ้น {sum} รอบ")
    print(f"-----------------------------------------")

In [24]:
for month in range(1,6):
    sum_rides_by_month(month)

ในเดือน 1 ที่ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6506189
ในเดือน 1 ที่ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 3144926
ในเดือน 1 ที่ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 46257
ในเดือน 1 ที่ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 13447
ในเดือน 1 ที่ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 1
เดือน 1 มีจำนวน yellow taxi rides รวมทั้งสิ้น 9710820 รอบ
-----------------------------------------
ในเดือน 2 ที่ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6261976
ในเดือน 2 ที่ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 2849713
ในเดือน 2 ที่ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 44719
ในเดือน 2 ที่ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 13367
ในเดือน 2 ที่ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 0
เดือน 2 มีจำนวน yellow taxi rides รวมทั้งสิ้น 9169775 รอบ
-----------------------------------------
ในเดือน 3 ที่ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6994699
ในเดือน 3 ที่ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 3231928
ในเดือน 3 ที่ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 53815
ในเดือน 3 ที่ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 14999
ในเดือน 3 ที่ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 0
เดือน 3 มีจำนวน yellow taxi rides รวมทั้งสิ้น 10295441 รอบ
-----------------------------------------
ในเดือน 4 ที่ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6695495
ในเดือน 4 ที่ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 3281576
ในเดือน 4 ที่ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 54383
ในเดือน 4 ที่ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 15680
ในเดือน 4 ที่ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 1
เดือน 4 มีจำนวน yellow taxi rides รวมทั้งสิ้น 10047135 รอบ
-----------------------------------------
ในเดือน 5 ที่ประเภทการจ่ายเงิน Credit card มีจำนวน yellow taxi rides เท่ากับ 6780947
ในเดือน 5 ที่ประเภทการจ่ายเงิน Cash มีจำนวน yellow taxi rides เท่ากับ 3250362
ในเดือน 5 ที่ประเภทการจ่ายเงิน No charge มีจำนวน yellow taxi rides เท่ากับ 55027
ในเดือน 5 ที่ประเภทการจ่ายเงิน Dispute มีจำนวน yellow taxi rides เท่ากับ 15791
ในเดือน 5 ที่ประเภทการจ่ายเงิน Unknow มีจำนวน yellow taxi rides เท่ากับ 0
เดือน 5 มีจำนวน yellow taxi rides รวมทั้งสิ้น 10102127 รอบ
-----------------------------------------

In [25]:
label_data = {'month': ['January', 'February', 'March', 'April', 'May'], 
              'Credit card': cc_arr, 
              'Cash': c_arr,
              'No charge': nc_arr,
              'Dispute': dp_arr,
              'Unknow': uk_arr,
              'Summary': summary
             }
dfm = pd.DataFrame(label_data)
dfm

      month  Credit card     Cash  No charge  Dispute  Unknow   Summary
0   January      6506189  3144926      46257    13447       1   9710820
1  February      6261976  2849713      44719    13367       0   9169775
2     March      6994699  3231928      53815    14999       0  10295441
3     April      6695495  3281576      54383    15680       1  10047135
4       May      6780947  3250362      55027    15791       0  10102127